name: My first demo on CICD pipline with github actions
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code
    - uses: actions/checkout@v3

    # Step 2: Set up Python environment
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'

    # Step 3: Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pytest pytest-html webdriver_manager

    # Step 4: Run tests with Chrome
    - name: Run Selenium Tests on Chrome
      run: |
        cd test
        mkdir -p reports
        pytest --browser chrome --html=reports/Chrome_Test_Report.html

    # Step 5: Run tests with Firefox
    - name: Run Selenium Tests on Firefox
      run: |
        cd test
        pytest --browser firefox --html=reports/Firefox_Test_Report.html

    # Step 6: Upload test reports
    - name: Upload Test Reports
      uses: actions/upload-artifact@v3
      with:
        name: test-reports
        path: reports/

