name: My first demo on CICD pipline with github actions 
on: 
  push: 
    branches: 
        'features/*'
        

jobs:
  builds:
      runs-on: ubuntu-latest

      
      steps:
      - uses: actions/checkout@v3
      - name: set up python 3.10
        uses: actions/setup-python@v3
        with:
              python-version: "3.10"

  
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi


      - uses: actions/checkout@v3
        if: success() || failure()
      - run:  |
          cd test
          mkdir -p Test_reports

          pytest  testLogin.py -- browser=Firefox --html=Test_reports/Firefox_Test_reports.html
          chmod 777  Test_reports/Firefox_Test_Report.html


      - name: Set output
        if: success() || failure()
        id: results
        run: echo "artifactPath=reports/" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-report
          path: ${{ steps.results.outputs.artifactPath }}

          
      

        
